p {
  margin: 5px;
}

#language-text {
  font-size: 20px;
  margin: 30px;
}

select {
  width: 130px;
  margin: 10px;
  padding: 5px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 400px;
}
 
.App-header {
  background-color: #2a2834;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}